[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d/
Restart=on-failure
RestartSec=5s
User=consul
Group=consul

[Install]
WantedBy=multi-user.target
